/CancelTicketView.class
/GuestMovieView.class
/LoginView.class
/MainMenuView.class
/MovieView.class
/NewsView.class
/PaymentView.class
/RegisterView.class
/RegisteredMovieView.class
/SeatView.class
/TheatreView.class
